{% if not is_form_request() %}
<form class="sf-form"
      method="{{this.form.getMethod()}}"
      action="{{this.form.getAction() ?: request.url()}}"
      hx-{{this.form.getMethod() | lower}}="{{this.form.getAction() ?: request.url()}}"
      hx-target="this"
>
    {% endif %}

    <input type="hidden" name="_token" value="{{csrf_token()}}" />
    <input type="hidden" name="_sf_form" value="{{this.form.getName()}}" />

    <div class="sf-form__inputs">
        {{ component('grid', { layout: this.form.getFields() }) }}
    </div>

    {% apply spaceless %}
    <div class="sf-form__buttons">
        {% if this.form.getConfig().show_submit %}
        {{ component('button', {content: this.form.getSubmitLabel() ?: trans('sitefrog::common.submit'), attrs: {type: 'submit'}}) }}
        {% endif %}
        {% if is_modal_request() %}
        <a class="sf-form__cancel" data-modal-close>{{ trans('sitefrog::common.cancel') }}</a>
        {% endif %}
    </div>
    {% endapply %}

    {% if not is_form_request() %}
</form>
{% endif %}
