<div class="sf-form__field-wrapper{% if this.type is not null %} sf-form__field-wrapper--{{ this.type }} {% endif%}{% if this.field.hasErrors() %} sf-form__field-wrapper--with-errors {% endif %}">
    <div class="sf-form__field-wrapper__inner">
        {% if this.field.getLabel() is not null %}
            <label for="{{ this.field.getId() }}" class="sf-form__label">{{this.field.getLabel()}}</label>
        {% endif %}
        <div class="sf-form__field">
            {% block main %}
            {% endblock %}
        </div>
    </div>

    {% if this.field.hasErrors() %}
    <div class="sf-form__errors">
        {% for error in this.field.getErrors() %}
        <span class="sf-form__error">{{error}}</span>
       {% endfor  %}
    </div>
    {% endif %}
    {% if this.field.getDescription() is not null %}
        <div class="sf-form__field__description">{{this.field.getDescription()}}</div>
    {% endif %}
</div>
